<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.model.Resource" >
    <constructor >
      <idArg column="resourceId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="parentId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="resourceCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="resourceName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="resourceType" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="resourceUrl" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="iconUrl" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="iconName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hasChild" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="delFlag" jdbcType="DECIMAL" javaType="java.lang.Short" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="createUserId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="createUserAccount" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createUserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updateUserId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="updateUserAccount" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="updateUserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve01" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve02" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve03" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve04" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve05" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve06" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve07" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve08" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve09" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="reserve10" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    resourceId, parentId, resourceCode, resourceName, resourceType, resourceUrl, iconUrl, 
    iconName, hasChild, delFlag, createTime, createUserId, createUserAccount, createUserName, 
    updateTime, updateUserId, updateUserAccount, updateUserName, reserve01, reserve02, 
    reserve03, reserve04, reserve05, reserve06, reserve07, reserve08, reserve09, reserve10
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from resource
    where resourceId = #{resourceId,jdbcType=BIGINT}
  </select>
  <select id="selectAll" parameterType="com.model.Resource" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
    resource
    WHERE
    delFlag = 0
    <if test="resourceCode != null">
      AND resourceCode LIKE CONCAT(#{resourceCode},'%')
    </if>
    <if test="resourceName != null">
      AND resourceName LIKE CONCAT('%',#{resourceName},'%')
    </if>
  </select>
  <select id="selectByParentId" resultType="com.model.Resource" parameterType="com.model.Resource">
    SELECT
    <include refid="Base_Column_List"></include>
    FROM
    resource
    WHERE
    delFlag = 0 AND parentId = #{parentId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from resource
    where resourceId = #{resourceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.model.Resource" >
    insert into resource (resourceId, parentId, resourceCode, 
      resourceName, resourceType, resourceUrl, 
      iconUrl, iconName, hasChild, 
      delFlag, createTime, createUserId, 
      createUserAccount, createUserName, updateTime, 
      updateUserId, updateUserAccount, updateUserName, 
      reserve01, reserve02, reserve03, 
      reserve04, reserve05, reserve06, 
      reserve07, reserve08, reserve09, 
      reserve10)
    values (#{resourceId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{resourceCode,jdbcType=VARCHAR}, 
      #{resourceName,jdbcType=VARCHAR}, #{resourceType,jdbcType=DECIMAL}, #{resourceUrl,jdbcType=VARCHAR}, 
      #{iconUrl,jdbcType=VARCHAR}, #{iconName,jdbcType=VARCHAR}, #{hasChild,jdbcType=DECIMAL}, 
      #{delFlag,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=BIGINT}, 
      #{createUserAccount,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=BIGINT}, #{updateUserAccount,jdbcType=VARCHAR}, #{updateUserName,jdbcType=VARCHAR}, 
      #{reserve01,jdbcType=VARCHAR}, #{reserve02,jdbcType=VARCHAR}, #{reserve03,jdbcType=VARCHAR}, 
      #{reserve04,jdbcType=VARCHAR}, #{reserve05,jdbcType=VARCHAR}, #{reserve06,jdbcType=VARCHAR}, 
      #{reserve07,jdbcType=VARCHAR}, #{reserve08,jdbcType=VARCHAR}, #{reserve09,jdbcType=VARCHAR}, 
      #{reserve10,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.Resource" >
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        resourceId,
      </if>
      <if test="parentId != null" >
        parentId,
      </if>
      <if test="resourceCode != null" >
        resourceCode,
      </if>
      <if test="resourceName != null" >
        resourceName,
      </if>
      <if test="resourceType != null" >
        resourceType,
      </if>
      <if test="resourceUrl != null" >
        resourceUrl,
      </if>
      <if test="iconUrl != null" >
        iconUrl,
      </if>
      <if test="iconName != null" >
        iconName,
      </if>
      <if test="hasChild != null" >
        hasChild,
      </if>
      <if test="delFlag != null" >
        delFlag,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="createUserId != null" >
        createUserId,
      </if>
      <if test="createUserAccount != null" >
        createUserAccount,
      </if>
      <if test="createUserName != null" >
        createUserName,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="updateUserId != null" >
        updateUserId,
      </if>
      <if test="updateUserAccount != null" >
        updateUserAccount,
      </if>
      <if test="updateUserName != null" >
        updateUserName,
      </if>
      <if test="reserve01 != null" >
        reserve01,
      </if>
      <if test="reserve02 != null" >
        reserve02,
      </if>
      <if test="reserve03 != null" >
        reserve03,
      </if>
      <if test="reserve04 != null" >
        reserve04,
      </if>
      <if test="reserve05 != null" >
        reserve05,
      </if>
      <if test="reserve06 != null" >
        reserve06,
      </if>
      <if test="reserve07 != null" >
        reserve07,
      </if>
      <if test="reserve08 != null" >
        reserve08,
      </if>
      <if test="reserve09 != null" >
        reserve09,
      </if>
      <if test="reserve10 != null" >
        reserve10,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="resourceCode != null" >
        #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null" >
        #{resourceType,jdbcType=DECIMAL},
      </if>
      <if test="resourceUrl != null" >
        #{resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconName != null" >
        #{iconName,jdbcType=VARCHAR},
      </if>
      <if test="hasChild != null" >
        #{hasChild,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserAccount != null" >
        #{createUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserAccount != null" >
        #{updateUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="reserve01 != null" >
        #{reserve01,jdbcType=VARCHAR},
      </if>
      <if test="reserve02 != null" >
        #{reserve02,jdbcType=VARCHAR},
      </if>
      <if test="reserve03 != null" >
        #{reserve03,jdbcType=VARCHAR},
      </if>
      <if test="reserve04 != null" >
        #{reserve04,jdbcType=VARCHAR},
      </if>
      <if test="reserve05 != null" >
        #{reserve05,jdbcType=VARCHAR},
      </if>
      <if test="reserve06 != null" >
        #{reserve06,jdbcType=VARCHAR},
      </if>
      <if test="reserve07 != null" >
        #{reserve07,jdbcType=VARCHAR},
      </if>
      <if test="reserve08 != null" >
        #{reserve08,jdbcType=VARCHAR},
      </if>
      <if test="reserve09 != null" >
        #{reserve09,jdbcType=VARCHAR},
      </if>
      <if test="reserve10 != null" >
        #{reserve10,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Resource" >
    update resource
    <set >
      <if test="parentId != null" >
        parentId = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="resourceCode != null" >
        resourceCode = #{resourceCode,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        resourceName = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null" >
        resourceType = #{resourceType,jdbcType=DECIMAL},
      </if>
      <if test="resourceUrl != null" >
        resourceUrl = #{resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconUrl != null" >
        iconUrl = #{iconUrl,jdbcType=VARCHAR},
      </if>
      <if test="iconName != null" >
        iconName = #{iconName,jdbcType=VARCHAR},
      </if>
      <if test="hasChild != null" >
        hasChild = #{hasChild,jdbcType=DECIMAL},
      </if>
      <if test="delFlag != null" >
        delFlag = #{delFlag,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        createUserId = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserAccount != null" >
        createUserAccount = #{createUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        createUserName = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        updateUserId = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserAccount != null" >
        updateUserAccount = #{updateUserAccount,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null" >
        updateUserName = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="reserve01 != null" >
        reserve01 = #{reserve01,jdbcType=VARCHAR},
      </if>
      <if test="reserve02 != null" >
        reserve02 = #{reserve02,jdbcType=VARCHAR},
      </if>
      <if test="reserve03 != null" >
        reserve03 = #{reserve03,jdbcType=VARCHAR},
      </if>
      <if test="reserve04 != null" >
        reserve04 = #{reserve04,jdbcType=VARCHAR},
      </if>
      <if test="reserve05 != null" >
        reserve05 = #{reserve05,jdbcType=VARCHAR},
      </if>
      <if test="reserve06 != null" >
        reserve06 = #{reserve06,jdbcType=VARCHAR},
      </if>
      <if test="reserve07 != null" >
        reserve07 = #{reserve07,jdbcType=VARCHAR},
      </if>
      <if test="reserve08 != null" >
        reserve08 = #{reserve08,jdbcType=VARCHAR},
      </if>
      <if test="reserve09 != null" >
        reserve09 = #{reserve09,jdbcType=VARCHAR},
      </if>
      <if test="reserve10 != null" >
        reserve10 = #{reserve10,jdbcType=VARCHAR},
      </if>
    </set>
    where resourceId = #{resourceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Resource" >
    update resource
    set parentId = #{parentId,jdbcType=BIGINT},
      resourceCode = #{resourceCode,jdbcType=VARCHAR},
      resourceName = #{resourceName,jdbcType=VARCHAR},
      resourceType = #{resourceType,jdbcType=DECIMAL},
      resourceUrl = #{resourceUrl,jdbcType=VARCHAR},
      iconUrl = #{iconUrl,jdbcType=VARCHAR},
      iconName = #{iconName,jdbcType=VARCHAR},
      hasChild = #{hasChild,jdbcType=DECIMAL},
      delFlag = #{delFlag,jdbcType=DECIMAL},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createUserId = #{createUserId,jdbcType=BIGINT},
      createUserAccount = #{createUserAccount,jdbcType=VARCHAR},
      createUserName = #{createUserName,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateUserId = #{updateUserId,jdbcType=BIGINT},
      updateUserAccount = #{updateUserAccount,jdbcType=VARCHAR},
      updateUserName = #{updateUserName,jdbcType=VARCHAR},
      reserve01 = #{reserve01,jdbcType=VARCHAR},
      reserve02 = #{reserve02,jdbcType=VARCHAR},
      reserve03 = #{reserve03,jdbcType=VARCHAR},
      reserve04 = #{reserve04,jdbcType=VARCHAR},
      reserve05 = #{reserve05,jdbcType=VARCHAR},
      reserve06 = #{reserve06,jdbcType=VARCHAR},
      reserve07 = #{reserve07,jdbcType=VARCHAR},
      reserve08 = #{reserve08,jdbcType=VARCHAR},
      reserve09 = #{reserve09,jdbcType=VARCHAR},
      reserve10 = #{reserve10,jdbcType=VARCHAR}
    where resourceId = #{resourceId,jdbcType=BIGINT}
  </update>
</mapper>